.squad-wrapper{
  position: relative;
  width: 100%;
  padding: 3.2rem;
  min-height: 43.8rem;
  text-align: center;
}



.squad-wrapper h3{
  font-size: 3.2rem;
  color: #000;
  padding-bottom: .8rem;
  border-bottom: .4rem solid #57C278;
  display: inline-block;
  margin-bottom: 4rem;
}

.squad-wrapper .colaborators{
   display: flex;
   gap: 2.4rem;
   align-items: center;
   justify-content: space-around;
   flex-wrap: wrap;
}

.input-color{
  position: absolute;
  top: 2rem;
  right: 2rem;
  border: 0;
  outline: 0;
}

